server:
  build: ./
  container_name: "fc23-service-mongo"
  mem_limit: 2g
  memswap_limit: 2g
  cpu_shares: 10
  restart: "on-failure:2"
  ports:
    - "9251:27017"
    - "9252:28017"
  environment:
    CONTAINER_TYPE: "service"
    CONTAINER_SERVICE: "mongo"
    CONTAINER_INSTANCE: "fc23-service-mongo"
  volumes:
    - "/tmp/container-fc23/logs/mongodb:/logs"
    - "/tmp/container-fc23/mongodb:/data"