server:
  build: ./
  container_name: "centos6-service-couchbase"
  mem_limit: 4g
  memswap_limit: 6g
  cpu_shares: 10
  restart: "on-failure:2"
  ports:
    - "9291:8091"
    - "9292:8092"
    - "9293:8093"
    - "9294:11207"
    - "9295:11210"
    - "9296:11211"
    - "9297:18091"
    - "9298:18092"
  environment:
    CONTAINER_TYPE: "service"
    CONTAINER_SERVICE: "couchbase"
    CONTAINER_INSTANCE: "centos6-service-couchbase"
  volumes:
    - "/tmp/container-centos6/logs/couchbase:/data/logs/couchbase"
    - "/tmp/container-centos6/couchbase:/data/couchbase"
