server:
  build: ./
  container_name: "service-couchbase"
  mem_limit: 2g
  memswap_limit: 3g
  cpu_shares: 2
  restart: "on-failure:2"
  ports:
    - "9271:11211"
  environment:
    CONTAINER_TYPE: "service"
    CONTAINER_SERVICE: "couchbase"
    CONTAINER_INSTANCE: "service-couchbase"
  volumes:
    - "/tmp/container/logs/couchbase:/logs"