[mysqld_safe]
datadir=$DATA_PATH
log-error=$LOG_PATH/error.log
port=3306
skip-syslog
user=1001

[mysql]

[mysql_upgrade]

[mysqladmin]

[mysqlbinlog]

[mysqlcheck]

[mysqldump]

[mysqlimport]

[mysqlshow]

[mysqlslap]

[client]

[client-mariadb]

[server]

[embedded]

