[mysqld_safe]
datadir=/data
log-error=/var/log/mariadb/error.log
port=3306
skip-syslog
user=1001
default_time_zone="+01:00"
lc_messages=fr_FR

[mysql]

[mysql_upgrade]

[mysqladmin]

[mysqlbinlog]

[mysqlcheck]

[mysqldump]

[mysqlimport]

[mysqlshow]

[mysqlslap]

[client]

[client-mariadb]

[server]

[embedded]

