server:
  build: ./
  container_name: "service-nodejs"
  mem_limit: 1g
  memswap_limit: 2g
  cpu_shares: 4
  restart: "on-failure:2"
  ports:
    - "9221:8000"
  environment:
    CONTAINER_TYPE: "service"
    CONTAINER_SERVICE: "nodejs"
    CONTAINER_INSTANCE: "service-nodejs"
  volumes:
    - "/tmp/container/logs/nodejs:/logs"
    - "/tmp/container/nodejs:/data"